<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post">
    <input type="text" name="name">
    <input type="submit" value="提交">
</form>
</body>
<script type='text/javascript' th:src="@{/Blog/statics/js/jquery.min.js}"></script>
<script type='text/javascript' th:src="@{/Blog/statics/js/customFunc.js}"></script>
<script>
   $(function () {
       $("form").submit(function (data) {
           $.post("/test/testFormInfo",$(this).serialize(data),function (info) {
               console.log(info);
           });
       })
   })
</script>
</html>