<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>写博客</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/BkSys/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/BkSys/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/BkSys/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/BkSys/images/favicon.png}" />
    <link rel="stylesheet" th:href="@{/editermd/css/editormd.css}" />
    <style>
        *.tags{
            float: left;
            margin: 0px 6px;
        }

        .boxs{
            margin: 10px 0;
            border: 1px solid lightgray;
            width: 100%;
        }
        .separator{
            margin: 2px 0px 16px;
        }
    </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div th:replace="BkSys/commons/navbar::navbar(username=${session.username})"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <div th:replace="BkSys/commons/sidebar::sidebar(username=${session.username})"></div>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    写文章
                </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">博客管理</a></li>
                        <li class="breadcrumb-item active" aria-current="page">写博客</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">写文章</h4>
                            <p class="card-description">
                                使用markdown语法生产博客
                            </p>
                            <hr>
                            <form class="forms-sample" method="post" th:action="@{/admin/insertBlog}">
                                <div class="form-group row">
                                    <!--<label for="exampleInputUsername2" class="col-sm-2 col-form-label">文章标题</label> -->
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" name="title" id="title" placeholder="请输入文章标题">
                                    </div>
                                </div>
                                <!-- markdwon编辑器 -->
                                <div>
                                    <div id="test-editor">
                                        <textarea id="blog-html" style="display:none;" name="content"></textarea>

                                        <textarea  class="editormd-html-textarea" ></textarea>
                                    </div>
                                </div>
                                <div id="boxs">
                                    <div>
                                        <h5 class="text-primary">选择文章分类</h5>
                                        <hr class="separator">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <div th:class="${tag.tId eq 1}? 'form-check form-check-success tags':
                                                         (${tag.tId eq 2} ? 'form-check form-check-primary tags':
                                                         (${tag.tId eq 3} ? 'form-check form-check-danger tags': 'form-check form-check-info tags'))"

                                                     th:each="tag:${tags}">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="tags" th:value="${tag.tId}">
                                                        [[${tag.label}]]
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <button type="submit" class="btn btn-inverse-success mr-2">Submit</button>
                                <button class="btn btn-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <div th:replace="BkSys/commons/footer::footer"></div>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <div th:replace="BkSys/commons/footJs::footJs"></div>


  <script th:src="@{/editermd/examples/js/jquery.min.js}"></script>
  <script th:src="@{/editermd/editormd.js}"></script>

  <script>
      var editor = editormd("test-editor", {
          width  : "100%",
          height : "600px",
          path   : "/editermd/lib/",
          editorTheme: "pastel-on-dark",//编辑主题
          theme: "dark",//工具栏主题
          previewTheme: "dark",//预览主题
          saveHTMLToTextarea : true,


          /**上传图片相关配置如下*/
          imageUpload : true,
          imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
          imageUploadURL : "/upload/uploadImages"   //注意你后端的上传图片服务地址
      });
  </script>
</body>

</html>
