<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>所有博客</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/BkSys/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/BkSys/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/BkSys/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/BkSys/images/favicon.png}" />
    <link rel="stylesheet" th:href="@{/BkSys/css/myStyle.css}">
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div th:replace="BkSys/commons/navbar::navbar(username=${session.username})"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <div th:replace="BkSys/commons/sidebar::sidebar(username=${session.username})"></div>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                   博客管理
                </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">博客管理</a></li>
                        <li class="breadcrumb-item active" aria-current="page">写博客</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">博客</h4>
                        <p class="card-description text-danger" id="blog-counts">
                           共 [[${blogPage.totalItems}]] 条
                        </p>
                        <div>
                            <button id="delete-all-button" type="button" class="btn btn-gradient-primary btn-sm btn-icon-text">
                                <i class="mdi mdi-delete-sweep btn-icon-prepend"></i>
                                批量删除
                            </button>
                            <button type="button" class="btn btn-gradient-primary btn-sm btn-icon-text">
                                <i class="mdi mdi-plus-circle btn-icon-prepend"></i>
                                <a th:href="@{/admin/addArticle}" id="blog-add" class="text-white">添加</a>
                            </button>
                        </div>
                        <table class="table table-striped" id="blogs">
                            <thead>
                              <tr>
                                <th>
                                    <input type="checkbox" id="delete-all">
                                </th>
                                <th>ID</th>
                                <th>标题</th>
                                <th>分类</th>
                                <th>写作日期</th>
                                <th>阅读量</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="table-content">
                              <tr th:each="blog:${blogPage.blogs}">
                                <td>

                                    <input type="checkbox" th:value="${blog.bId}">
                                </td>
                                <td th:text="${blogPage.currentPage-1} * ${blogPage.pageMaxItems}+${blogStat.index+1}">1</td>
                                <td th:text="${blog.title}">第一篇文章</td>
                                <td th:text="${blog.tag.label}">C++</td>
                                <td th:text="${blog.writeTime}">2015-10-10</td>
                                <td th:text="${blog.readTimes}">100</td>
                                <td>
                                    <a href="#" th:data-delete="${blog.bId}" class="delete-blog" title="删除"><i class="mdi mdi-delete-forever text-success"></i></a>
                                    <a href="#"  title="编辑"><i class="mdi mdi-lead-pencil menu-icon text-success"></i></a>

                                </td>
                              </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
            <div class="center">
                <ul class="pagination" id="blogs-nav">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <div th:replace="BkSys/commons/footer::footer"></div>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <div th:replace="BkSys/commons/footJs::footJs"></div>
  <script th:src="@{/BkSys/js/customFunc.js}"></script>
  <script>
      updateNavForPage([[${blogPage.currentPage}]],[[${blogPage.totalPages}]])
  </script>
</body>

</html>
