<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>zsj的个人博客</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" th:href="@{/Blog/statics/css/index.css}" media="all" />
	</head>

	<body class="home blog custom-background round-avatars">
		<div th:replace="Blogs/common::bg"></div>
		<div th:replace="Blogs/common::search"></div>
		<div th:replace="Blogs/common::navbar"></div>
		<div th:replace="Blogs/common::icon"></div>
		<div th:replace="Blogs/common::header"></div>
		<div id="main" class="content">
			<div class="container">
				<section class="post_content" itemscope itemtype="http://schema.org/Article">
					<header class="post_header">
						<h1 class="post_title">归档</h1>
					</header>
					<div class="post-Archive">
						<div id="archives">
							<div class='archive-title' th:each="key,value:${blogs}">
								<h3 th:text="${value.current.key}"></h3>
                                <div class='archives archives-3' th:data-date='${value.current.key}' >
                                    <div class="brick" th:each="blog:${value.current.value}">
                                        <a th:href="@{/detail(id=${blog.bId})}">
                                            <span class="time" th:text="${blog.content}">3-20</span>
                                            [[${blog.title}]]
                                            <span>([[${blog.readTimes}]])</span>
                                        </a>
                                    </div>
                                </div>
							</div>
						</div>
				
					</div>
				</section>
				</div>
			</div>

        <div th:replace="Blogs/common::footer"></div>
	</body>
	<script>
		function calDate(date) {
		    log("archives.html",216,date);
			// var originDate = new Date(date)

        }
	</script>
</html>