<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type='text/javascript' th:src="@{/Blog/statics/js/jquery.min.js}"></script>
<script th:src="@{/Blog/statics/js/customFunc.js}"></script>
<body>
<!--
    抽取的公共片段
-->

<div th:fragment="bg" class="Yarn_Background" style="background-image: url( /Blog/statics/images/47fb3c_.jpg);"></div>
<form th:fragment="search" class="js-search search-form search-form--modal" method="get" th:action="@{/search}" action="search.html" role="search">
    <div class="search-form__inner">
        <div>
            <div id="search-container" class="ajax_search">
                <form method="get" id="searchform" action="">
                    <div class="filter_container"><input type="text" value="" autocomplete="off" placeholder="请输入搜索关键字..." name="s" id="search-input" />
                        <ul id="search_filtered" class="search_filtered"></ul>
                    </div>
                    <input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value="" />
                </form>
            </div>
        </div>
    </div>
</form>
<div th:fragment="navbar" class="navi" data-aos="fade-down" >
        <div class="bt-nav">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </div>
        <div class="navbar animated fadeInRight">
            <div class="inner">
                <nav id="site-navigation" class="main-navigation">
                    <div id="main-menu" class="main-menu-container">
                        <div class="menu-menu-container">
                            <ul id="primary-menu" class="menu">
                                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
                                    <a th:href="@{/index}">首页</a>
                                </li>
                                <li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
                                    <a th:href="@{/update}">更新</a>
                                </li>
                                <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
                                    <a th:href="@{/link}">链接</a>
                                </li>
                                <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-252">
                                    <a th:href="@{/archives}">归档</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-165" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-165">
                                            <a th:href="@{/}">theme</a>
                                        </li>
                                        <li id="menu-item-163" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-163">
                                            <a th:href="@{/}">Happen</a>
                                        </li>
                                        <li id="menu-item-924" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-924">
                                            <a th:href="@{/}">WeWork</a>
                                        </li>
                                        <li id="menu-item-164" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-164">
                                            <a th:href="@{/}">WordPress</a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
                                    <a th:href="@{/gustbook(pos=-1,currentPage=1,pageMaxItems=10)}">留言</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- #site-navigation -->
            </div>
        </div>
    </div>
<div th:fragment="icon" class="hebin" data-aos="fade-down">
    <i class=" js-toggle-search iconfont">&#xe60e;</i>
</div>
<header th:fragment="header" id="masthead" class="overlay animated from-bottom" itemprop="brand">
    <div class="site-branding text-center">
        <a th:href="@{/}">
            <figure>
                <img class="custom-logo avatar" th:src="@{/Blog/statics/images/omikron.png}" />
            </figure>
        </a>
        <h3 class="blog-description"><p>This is beauty</p></h3>
    </div>
    <!-- .site-branding -->
    <div class="decor-part">
        <div id="particles-js"></div>
    </div>
    <div class="animation-header">
        <div class="decor-wrapper">
            <svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
                <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
                <path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
                <path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
                <path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
                <path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
                <path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>
                <path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>
            </svg>
        </div>
    </div>
</header>
<footer th:fragment="footer" id="footer" class="overlay animated from-top">
    <div class="decor-wrapper">
        <svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
            <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
            <path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
            <path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
            <path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
            <path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
            <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
            <path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
        </svg>
    </div>
    <div class="socialize" data-aos="zoom-in">
        <li class="weibo">
            <a title="weibo" class="socialicon" href=""><i class="iconfont" aria-hidden="true">&#xe601;</i></a>
        </li>
        <li class="wechat">
            <a class="socialicon"><i class="iconfont">&#xe609;</i></a>
            <div class="wechatimg"><img th:src="@{/Blog/statics/images/weichatcode.png}"></div>
        </li>
        <li>
            <a title="QQ" class="socialicon" href="" target="_blank"><i class="iconfont" aria-hidden="true">&#xe616;</i></a>
        </li>
    </div>
    <div class="cr">
        Copyright&copy;2020. Coding by
        <a href="http://xl-zsj.top" target="_blank">xl-zsj.top</a>
    </div>
    <script type='text/javascript' th:src="@{/Blog/statics/js/jquery.min.js}"></script>
    <script type='text/javascript' th:src="@{/Blog/statics/js/plugins.js}"></script>
    <script type='text/javascript' th:src="@{/Blog/statics/js/script.js}"></script>
    <script type='text/javascript' th:src="@{/Blog/statics/js/particles.js}"></script>
    <script type='text/javascript' th:src="@{/Blog/statics/js/aos.js}"></script>
</footer>

<svg th:fragment="upTriangleColor" id="upTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
    <path d="M0 0 L50 100 L100 0 Z"></path>
</svg>
<div th:fragment="social" id="social">
    <ul>
        <li>
            <a href="" title="qzone" target="_blank"><i class="iconfont">&#xe67f;</i></a>
        </li>
        <li>
            <a href="" title="weibo" target="_blank"><i class="iconfont">&#xe680;</i></a>
        </li>
        <li>
            <a href="" title="douban" target="_blank"><i class="iconfont">&#xe681;</i></a>
        </li>
        <li>
            <a href="" title="twitter" target="_blank"><i class="iconfont">&#xe683;</i></a>
        </li>
    </ul>
</div>
<div th:fragment="panel(comments,page)" id="panel" >
    <div class="comment-area">
        <section class="comments">
            <div class="comments-main">
                <div id="comments-list-title"><span id="comment-counts">[[${comments.totalItems}]]</span> 条评论 </div>
                <div id="loading-comments">
                    <div class="host">
                        <div class="loading loading-0"></div>
                        <div class="loading loading-1"></div>
                        <div class="loading loading-2"></div>
                    </div>
                </div>
                <ul id="comments-list" class="commentwrap">
                    <li class="comment even thread-even depth-1" id="li-comment-" th:each="comment:${comments.comments}">
                        <div id="comment-969" class="comment_body contents">
                            <div class="profile">
                                <a href=""><img th:src="${comment.userHeader}" class="gravatar" th:alt="${comment.userName}"></a>
                            </div>
                            <div class="main shadow">
                                <div class="commentinfo">
                                    <section class="commeta">
                                        <div class="shang">
                                            <h4 class="author"><a href="" target="_blank"><img th:src="${comment.userHeader}" class="gravatarsmall" th:alt="${comment.userName}">[[${comment.userName}]]</a></h4>
                                        </div>
                                    </section>
                                </div>
                                <div class="body">
                                    <p th:class="${comment.reply ne -1}?'reply-comment':''">[[${comment.content}]]</p>
                                </div>
                                <div class="xia info">
                                    <span><time datetime="2018-03-09" th:datetime="${comment.writeTime}">2018年3月9日</time></span>

                                    <!-- [[${comment.cId}]]会转义特殊的字符，直接将中文转义为Unicode编码，所以中文使用[(${comment.userName})]来解析 -->
                                    <span><a rel='nofollow' class='comment-reply-link' th:inline="text" th:onclick="replyTheComment([[${comment.cId}]],'[(${comment.userName})]')"  style="cursor: pointer;" aria-label='回复给小布丁'>回复</a></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- #comment-## -->
                </ul>

                <nav id="comments-navi">


                    <a  class="prev page-numbers" th:href="'javascript:void(0)'" >< </a>
                    <a class='page-numbers' th:href="'javascript:void(0)'" >1</a>
                    <a class='page-numbers' th:href="'javascript:void(0)'" >2</a>
                    <a class='page-numbers' th:href="'javascript:void(0)'" >3</a>
                    <span aria-current='page' class='page-numbers current'>4</span>

                </nav>
                <div id="respond" class="comment-respond">
                    <h6 id="replytitle" class="comment-reply-title"><a rel="nofollow" id="cancel-comment-reply-link" href="" style="display:none;">取消</a></h6>
                    <!-- debug submit响应函数在customFunc.js中146行 -->
                    <form action="javascript:void(0);" id="commentForm" class="clearfix" method="post">
                        <div class="clearfix"></div>
                        <div class="author-info">
                            <input type="text" name="userName" id="author" placeholder="昵  称 : " value="" tabindex="1" title="Name (required)" />
                            <input type="text" name="userEmail" id="email" placeholder="邮  箱 : " value="" tabindex="2" title="E-mail(will not be published) required" />
                            <input type="text" name="userWebSite" id="url" placeholder="网  址 : " value="" tabindex="3" title="Website" />
                        </div>

                        <!-- 需要携带的数据 -->

                        <!-- 将该评论所在的位置信息也保存发送 -->
                        <input type="text" style="display: none;" id="writePosition" name="writePosition" th:value="${page}">

                        <!-- replay标志是否为回复某条评论的评论 -->
                        <input type="text" style="display: none;" name="reply" id="reply" value="-1">

                        <!-- 将用户评论使用的头像也保存 -->
                        <input type="text" style="display: none;" id="headPic" name="userHeader" th:value="@{/Blog/statics/images/d41d8cd98f00b204e9800998ecf8427e.png}">

                        <div class="clearfix"></div>

                        <div class="comment-form-info">
                            <div class="real-time-gravatar"> <img id="real-time-gravatar" th:src="@{/Blog/statics/images/d41d8cd98f00b204e9800998ecf8427e.png}" alt="gravatar头像" />
                            </div>
                            <p class="input-row">
                                <i class="row-icon"></i>
                                <textarea class="text_area" rows="3" cols="80" name="content" id="comment" tabindex="4" placeholder="你不说两句吗？(°∀°)ﾉ……"></textarea>
                                <input type="submit" class="button" id="send" tabindex="5" value="发送" />
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<svg th:fragment="dwTriangleColor" id="dwTriangleColor" width="100%" height="40" viewBox="0 0 100 102" preserveAspectRatio="none">
    <path d="M0 0 L50 100 L100 0 Z"></path>
</svg>
<div th:fragment="wrapper" class="wrapper">
</div>
</body>
<script>
function getUpdateCommentUrl(page) {
    if(page==0){
        return
    }else{

    }
}
</script>
</html>