<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>zsj的个人博客</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" th:href="@{/Blog/statics/css/index.css}" media="all" />
		<link rel="stylesheet" type="text/css" th:href="@{/Blog/statics/css/detail.css}" />
        <style>

		</style>
	</head>

	<body class="home blog custom-background round-avatars" itemscope itemtype="http://schema.org/Organization">
		<div th:replace="Blogs/common::bg"></div>
		<div th:replace="Blogs/common::search"></div>
		<div th:replace="Blogs/common::navbar"></div>
		<div th:replace="Blogs/common::icon"></div>
		<div th:replace="Blogs/common::header"></div>
		<div id="main" class="content">
				<div class="container">
                    <iframe id="test" frameborder="0"  th:src="@{/markdown(id=${id})}" class="x-iframe" style="width:100%;height: 100%;" scrolling="no"></iframe>
				</div>

				<div th:replace="Blogs/common::upTriangleColor"></div>
				<div th:replace="Blogs/common::social"></div>
				<div th:replace="Blogs/common::panel(comments=${commentPage},page=${id})"></div>
				<div th:replace="Blogs/common::dwTriangleColor"></div>
				<div th:replace="Blogs/common::wrapper"></div>
			</div>

		<div class="p-header">
			<figure class="p-image" style="background-image: url(/Blog/statics/images/47fb3c_9afed6c259f94589881bd55376206366mv2_d_3840_5784_s_4_2.jpg);"></figure>
		</div>
		<div class="navpost-part">
			<div id="NextPrevPosts">
				<div class="prev" data-aos="slide-right" data-aos-delay="1.5s">
					<div class="arrow"><i class="iconfont">&#xe625;</i></div>
					<div class="preview">
						<div class="pull-left featuredImg" style="background-image:url(/Blog/statics/images/97a354cb9519f97e84139f26017386026b3fd7f517b96-DCDbdE-250x250.jpeg);"></div>
						<a class="pull-left preview-content bold" href="#"><span>《别哭妈妈》</span></a>
					</div>
				</div>
				<div class="next" data-aos="slide-left" data-aos-delay="1.5s">
					<div class="arrow"><i class="iconfont">&#xe623;</i></div>
					<div class="preview">
						<div class="pull-right featuredImg" style="background-image:url('/Blog/statics/images/no-image.png');"></div>
						<a class="pull-right preview-content bold" href="#"><span>重构图像样式测试</span></a>
					</div>
				</div>
			</div>
		</div>

        <div th:replace="Blogs/common::footer"></div>
	</body>
	<script type="text/javascript" th:src="@{/Blog/statics/js/customFunc.js}"></script>
    <script>
		$(function () {
            updateNavTheATags([[${id}]],[[${commentPage.currentPage}]],[[${commentPage.totalPages}]]);
            // addClickToReplyATags();
            addActionForTheForm();
        });
        /**
         * 动态设置markdown容器的高度
         *  由iframe页面的函数调用
         */
        function setDivHeight(height){
            $("#test").height(height);
            console.log("设置容器高度为："+height);
        }

    </script>
</html>