<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>响应式简单个性个人博客模板</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" th:href="@{/Blog/statics/css/index.css}" media="all" />
	</head>

	<body class="home blog custom-background round-avatars">
		<div th:replace="Blogs/common::bg"></div>
		<div th:replace="Blogs/common::search"></div>
		<div th:replace="Blogs/common::navbar"></div>
		<div th:replace="Blogs/common::icon"></div>
		<div th:replace="Blogs/common::header"></div>
		<div id="main" class="content">
			<div class="container">
				<article id="post-2" class="js-gallery post-2 page type-page status-publish has-post-thumbnail hentry">
					<style>
						.meta {
							display: none;
						}
						
						#NextPrevPosts {
							margin: 0;
							visibility: hidden;
						}
					</style>
					<section class="post_content">
						<header class="post_header">
							<h1 class="post_title">街坊留言</h1>
						</header>

						<div class="meta split split--responsive cf" style="display: block;">
							
							<div id="social-share"><span class="entypo-share"><i class="iconfont">&#xe614;</i>分享</span></div>
							<div class="slide">
								<a class="btn-slide" title="switch down"><i class="iconfont">&#xe615;</i>折叠评论区</a>
							</div>
						</div>
					</section>
				</article>
			</div>
            <div th:replace="Blogs/common::upTriangleColor"></div>
            <div th:replace="Blogs/common::social"></div>
            <div th:replace="Blogs/common::panel(comments=${commentPage},page=-1)"></div>
            <div th:replace="Blogs/common::dwTriangleColor"></div>
            <div th:replace="Blogs/common::wrapper"></div>
			</div>
		</div>

        <div th:replace="Blogs/common::footer"></div>
	</body>
    <script type='text/javascript' th:src="@{/Blog/statics/js/customFunc.js}"></script>
    <script>
        $(function () {
            
            updateNavTheATags(-1,[[${commentPage.currentPage}]],[[${commentPage.totalPages}]]);
            addClickToReplyATags();
            addActionForTheForm();



        });


	</script>
</html>