<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>响应式简单个性个人博客模板</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" th:href="@{/Blog/statics/css/index.css}" media="all" />
	</head>

	<body class="home blog custom-background round-avatars">
		<div th:replace="Blogs/common::bg"></div>
		<div th:replace="Blogs/common::search"></div>
		<div th:replace="Blogs/common::navbar"></div>
		<div th:replace="Blogs/common::icon"></div>
		<div th:replace="Blogs/common::header"></div>
		<div id="main" class="content">
			<div class="container">
				<article itemscope="itemscope">
					<div class="posts-list js-posts" th:each="blog:${blogs}">

						<div class="post post-layout-list" data-aos="fade-up">
							<div class="postnormal review ">
								<div class="post-container review-item">
									<div class="row review-item-wrapper">
										<div class="col-sm-3">
											<a rel="nofollow" href="detail.html">
												<div class="review-item-img" style="background-image: url(/Blog/statics/images/diego-ph-249471-2-800x1000.jpg);"></div>
											</a>
										</div>
										<div class="col-sm-9 flex-xs-middle">
											<div class="review-item-title">
												<a href="detail.html" th:href="@{/detail(id=${blog.bId},currentPage=1,pageMaxItems=10)}" rel="bookmark">[[${blog.title}]]</a>
											</div>
											<div class="review-item-creator"><b>发布日期：</b>[[${blog.writeTime}]]</div>
											<span class="review-item-info"><b>总浏览量：</b>[[${blog.readTimes}]] reads</span>
										</div>
									</div>
									<div class="review-bg-wrapper">
										<div class="bg-blur" style="background-image: url(/Blog/statics/images/diego-ph-249471-2-800x1000.jpg);"></div>
									</div>
								</div>
								<div class="post-container">
									<div class="entry-content" th:text="${blog.content}">确实讨厌去写所谓的年终总结，在公司已经被动的想领导上交一个总结，自己就懒得去总结，不然，我觉得脑子里应该会编写出八九不离十的内容，所以正经八儿的事情略了，瞎说一下。 年初的人事调动是个人最不能接受的事情，但不接受也得接受，老板一句“这是命令...</div>
									<div class="post-footer">
										<a class="gaz-btn primary" href="">READ MORE</a>
										<span class="total-comments-on-post pull-right"><a href="">31 Comments</a></span>
									</div>
								</div>
							</div>
						</div>



					</div>
					<!-- post-formats end Infinite Scroll star -->
					<!-- post-formats -->
					<div class="pagination js-pagination">
						<div class="js-next pagination__load">
							<a href=""><i class="iconfont">&#xe605;</i></a>
						</div>
					</div>
					<!-- -pagination  -->
				</article>
			</div>
		</div>

		<div th:replace="Blogs/common::footer"></div>
	</body>
    <script>
        $(function () {
            // alert("[[${blogs.size()}]]");
        })
    </script>
</html>