<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>响应式简单个性个人博客模板</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" th:href="@{/Blog/statics/css/index.css}" media="all" />
	</head>

	<body class="home blog custom-background round-avatars">
		<div th:replace="Blogs/common::bg"></div>
		<div th:replace="Blogs/common::search"></div>
		<div th:replace="Blogs/common::navbar"></div>
		<div th:replace="Blogs/common::icon"></div>
		<div th:replace="Blogs/common::header"></div>
		<div id="main" class="content">
			<div class="container">
				<style>
					body.custom-background {
						background: #fff
					}
					
					.container {
						padding: 10px 0px;
					}
				</style>
				<section class="post_content">
					<header class="post_header">
						<h1 class="post_title">链接</h1>
					</header>
					<div class="links">
						<h3 class="catalog-title">Life Blog</h3>
						<div class="catalog-description"></div>
						<div class="catalog-share">[[${links.size()}]] items in collection</div>
						<div class="userItems" >
							<div class="userItem" th:each="link:${links}">
								<div class="userItem--inner">
									<!-- /Blog/statics/images/8e5da64c712d2bb59235d8d746108cb1.jpeg -->
									<div class="userItem-content">
										<a th:href="${link.webUrl}" target="_blank">
											<img alt='' th:src='${link.headPicture}' class='avatar avatar-64 photo' height='64' width='64' />
                                        </a>
										<div class="userItem-name">
											<a class="link link--primary" th:href="${link.webUrl}" th:text="${link.friendName}" href="#" target="_blank">Akina</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</section>
			</div>
		</div>

        <div th:replace="Blogs/common::footer"></div>
	</body>

</html>