<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>响应式简单个性个人博客模板</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" th:href="@{/Blog/statics/css/index.css}" media="all" />
        <script type="text/javascript" th:src="@{/Blog/statics/js/customFunc.js}"></script>
	</head>

	<body class="home blog custom-background round-avatars">
		<div th:replace="Blogs/common::bg"></div>
		<div th:replace="Blogs/common::search"></div>
		<div th:replace="Blogs/common::navbar"></div>
		<div th:replace="Blogs/common::icon"></div>
		<div th:replace="Blogs/common::header"></div>
		<div id="main" class="content">

			<div class="container">

				<h1 class="page-title">以&ldquo;[[${keyword}]]&rdquo;为关键字</h1>

				<p class="Searchmeta">共计 [[${blogPage.blogs.size()}]] 篇文章</p>

				<div class="location">当前位置：
					<a href="">首页</a> &raquo; 搜索结果 &raquo; [[${keyword}]]
				</div>

				<div class="posts-list js-posts" id="search-blogs" th:each="article:${blogPage.blogs}">

					<div class="archive-post" >

						<div class="type">
							<div class="mask"><i class="iconfont">&#xe603;</i></div>
						</div>
						<h2 class="archive-title" style="color: #">
							<span>
								<a th:href="@{'/detailDefault/'+${article.bId}}"  class="search-title" th:text="${article.title}">交代是不可能交代的</a>
							</span>
							<div class="post-time" th:text="${article.writeTime}">2018/03/20</div>
						</h2>

						<div class="post-category">
							<a th:href="@{'/detailDefault/'+${article.bId}}"  rel="category tag">Happen</a>
						</div>

					</div>

				</div>

				<div class="mt+">
					<div class="pagination js-pagination">

						<div class="js-next pagination__load"></div>

					</div>
				</div>

			</div>
            <nav id="comments-navi">


                <a  class="prev page-numbers" href="javascript:void(0)" >< </a>
                <a class='page-numbers' href="#" th:aria-current="${i} == 1?'page':''"  th:onclick="updateBlogsWithATag([[${keyword}]],[[${i}]])" th:each="i:${#numbers.sequence(1,4)}">[[${i}]]</a>

            </nav>
		</div>

        <div th:replace="Blogs/common::footer"></div>
	</body>
    <script>
		$(function () {
			updateNavTheATagsForBlog('[[${keyword}]]',1,[[${blogPage.totalPages}]]);
        });
	</script>
</html>