<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>zsj的个人博客</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" th:href="@{/Blog/statics/css/index.css}" media="all" />
	</head>

	<body class="home blog custom-background round-avatars">
		<div th:replace="Blogs/common::bg"></div>
		<div th:replace="Blogs/common::search"></div>
		<div th:replace="Blogs/common::navbar"></div>
		<div th:replace="Blogs/common::icon"></div>
		<div th:replace="Blogs/common::header"></div>
		<div id="main" class="content">
			<div class="container">
				<style>
					body.custom-background {
						background: #fff
					}
					
					.container {
						padding: 10px 0px;
					}
				</style>
				<section class="post_content">
					<header class="post_header">
						<h1 class="post_title">更新</h1>
					</header>
					<div class="applicant__timeline">
						<ul>
							<li th:each="event:${events}" th:class="${event.flag} eq 0 ?'':(${event.flag} eq 1?'success':'warning')">
								<div>[[${event.content}]]<br />
									<span class="time-ago" th:text="${event.execTime}" th:if="${event.flag} ne 2">2017.12.25</span>
								</div>
							</li>

						</ul>
					</div>
				</section>
			</div>
		</div>

        <div th:replace="Blogs/common::footer"></div>
	</body>

</html>